
body {
  background-image: url("../images/concrete_seamless.png");
  color: #777777;
  border-color: #dddddd;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  height: 100%;
}

h1, h3 {
  background-color: #4aaaa5;
}

h1, h2 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
  padding: 28px 25px;
  color: #ffffff;
  font-weight: bolder;
  font-size: 24px;
  font-family:  Georgia, Times, 'Times New Roman', serif;
  width: auto;
  text-align: center;
  float: left;
  position: absolute;
  top: 0;
  overflow: auto;
  left: 260px;
}

h2 {
  color: #4aaaa5;
  font-weight: bolder;
  font-size: 24px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: #cccccc solid 2px;
}

h3 {
  color: #ffffff;
  text-align: center;
  padding: 10px;
  width: 380px;
}

li {
  float: right;
}

li a {
  display: block;
  text-align: center;
  margin: 10px;
}

ul {
  clear: both;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  background-color: #ffffff;
  padding-top: 80px;
  position: relative;
  border-bottom: #cccccc 2px solid;
  width: 100%;
}

article {
  margin-top: 25px;
}

nav {
  position: absolute;
  right: 260px;
  top: 20px;
}

p {
  line-height: 200%;
}

label {
  font-weight: 500;
  display: inline-block;
  margin-bottom: 10px;
}

input {
  display: block;
  width: 99%;
  padding: 5px 0px 5px 5px;
  margin-right: 5px;
}

textarea {
  width: 99%;
  padding-right: 5px;
}

button {
  display: block;
  background-color: #4aaaa5;
  color: #ffffff;
  padding: 5px 15px;
  margin-top: 10px;
}

.wrapper {
  width: 100%;
  margin: 30px 0px 25px;
  min-height: calc(100vh - 130px);
}

.main-content {
  background-color: #ffffff;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 20px 20px;
  border: #dddddd solid 1px;
}

.profile-pic {
  float: left;
  margin-right: 20px;
  width: auto;
  height: auto;
  display: block;
  max-width: 200px;
}

.footer {
  clear: both;
  background-color: #666666;
  width: 100%;
  text-align: center;
  color: #ffffff;
  border: #4aaaa5 solid;
  border-width: 5px 0px 0px;
  padding: 40px 0px 10px;
}

#portfolio {
  border-right: solid #cccccc;
  border-left: solid #cccccc;
  padding: 0px 15px 0px 15px;
}

#name {
  margin: 20px 0px 10px
}

#wireframe {
  float: left;
  position: relative;
  margin: 25px 25px 25px 0px;
}

#wireframe-header {
  position: absolute;
  bottom: 10px;
}

#proj-2 {
  float: left;
  position: relative;
  margin: 25px 25px 25px 0px;
}

#proj-2-header {
  position: absolute;
  bottom: 10px;
}

#proj-3 {
  clear: both;
  position: relative;
  float: left;
  margin: 25px 25px 25px 0px;
}

#proj-3-header {
  position: absolute;
  bottom: 10px;
}

#proj-4 {
  float: left;
  position: relative;
  margin: 25px 25px 25px 0px;
}

#proj-4-header {
  position: absolute;
  bottom: 10px;
}

#proj-5 {
  clear: both;
  position: relative;
  margin: 25px 25px 25px 0px;
}

#proj-5-header {
  position: absolute;
  bottom: 10px;
}